extends layout

block content

	main.page-journey

		h1
			a(href="/services/#{serviceSlug}#{selectedDate.query}")= serviceName

		details
			summary= selectedDate.friendly

			.inner

				ul.last-element
					each datetime in datetimes

						li
							a(href="/services/#{serviceSlug}?datetime=#{datetime.iso}")= datetime.friendly

		h2= journey.name

		ol
			each screen in journey.screens

				li
					a(href="#{screen.url}#{selectedDate.query}")= screen.name